.venv
_build
.ipynb_checkpoints
*.bib.sav
*.bkp
ncbi_dataset
*.log
*.msi
papers
.vscode
ncbi_dataset.zip

**/*.log
*_modified.phys
datasets/**/*.fasta
!datasets/**/*.txt
pilot_submission

datasets/full_analysis/refseq
datasets/full_analysis/*.gb

extra_docs/*.pdf
packrat/lib*/
.Rproj.user
*.trees.txt
outputs/full_analysis/BEAST/*.tree

.Rhistory