.venv
_build
.ipynb_checkpoints
*.bib.sav
*.bkp
ncbi_dataset
**/raxml_out
**/*.fasta
*.log
*.msi
papers
.vscode
*.zip
src/muscle_out/*
!src/muscle_out/*.phys
*_modified.phys
!src/muscle_out/*.xml
!muscle-E20231103-041923-0439-15952161-p1m.out